.gogo{
    margin-bottom : 100px;
    margin-top : 100px;

}

.con1{
    margin-top : 100px;
    margin-left: 200px;
}

.con2{
    margin-top : 100px;
    margin-left : 100px;
}

.insta{
    margin-left : 400px;
}

.follow {
    margin-left : 20px;
}

.navbar {
    border-bottom: 2px solid black;
}

.log {
    margin-left : 80px;
}